# Read and concatenate Chicago Crime Data

In [1]:
import pandas as pd
import os, glob
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import dates as mdates
from matplotlib import ticker as mticks
pd.set_option('display.max_columns', 100)
pd.set_option('display.float_format',lambda x: f"{x:,.2f}")

In [2]:
# find all csv file under Data/Chicago folder
path = 'Data/Chicago'
csv_files = glob.glob(path + "/*.csv")
csv_files.sort()
print(csv_files)

['Data/Chicago\\Chicago-Crime_2001.csv', 'Data/Chicago\\Chicago-Crime_2002.csv', 'Data/Chicago\\Chicago-Crime_2003.csv', 'Data/Chicago\\Chicago-Crime_2004.csv', 'Data/Chicago\\Chicago-Crime_2005.csv', 'Data/Chicago\\Chicago-Crime_2006.csv', 'Data/Chicago\\Chicago-Crime_2007.csv', 'Data/Chicago\\Chicago-Crime_2008.csv', 'Data/Chicago\\Chicago-Crime_2009.csv', 'Data/Chicago\\Chicago-Crime_2010.csv', 'Data/Chicago\\Chicago-Crime_2011.csv', 'Data/Chicago\\Chicago-Crime_2012.csv', 'Data/Chicago\\Chicago-Crime_2013.csv', 'Data/Chicago\\Chicago-Crime_2014.csv', 'Data/Chicago\\Chicago-Crime_2015.csv', 'Data/Chicago\\Chicago-Crime_2016.csv', 'Data/Chicago\\Chicago-Crime_2017.csv', 'Data/Chicago\\Chicago-Crime_2018.csv', 'Data/Chicago\\Chicago-Crime_2019.csv', 'Data/Chicago\\Chicago-Crime_2020.csv', 'Data/Chicago\\Chicago-Crime_2021.csv', 'Data/Chicago\\Chicago-Crime_2022.csv', 'Data/Chicago\\Chicago-Crime_2023.csv']

In [3]:
# read and merge all csv_files
df = pd.concat([pd.read_csv(file) for file in csv_files ], ignore_index=True)
display(df.head(),df.tail())

C:\Users\Heng-Tser Tsai\AppData\Local\Temp\ipykernel_19540\4248295058.py:2: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat([pd.read_csv(file) for file in csv_files ], ignore_index=True)

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
0,3723059,01/01/2001 12:00:00 AM,THEFT,FINANCIAL ID THEFT: OVER $300,APARTMENT,False,False,732.00,7.00,6.00,41.77,-87.64
1,1322043,01/01/2001 12:00:00 AM,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,825.00,8.00,NaN,41.78,-87.68
2,1968773,01/01/2001 12:00:00 AM,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,"2,022.00",20.00,NaN,41.99,-87.66
3,5952122,01/01/2001 12:00:00 AM,THEFT,FINANCIAL ID THEFT: OVER $300,APARTMENT,False,False,"1,431.00",14.00,1.00,41.92,-87.70
4,1312179,01/01/2001 12:00:00 AM,CRIMINAL DAMAGE,TO PROPERTY,RESIDENCE,False,False,"1,533.00",15.00,NaN,41.87,-87.75

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
7029995,13120947,06/26/2023 11:42:00 PM,THEFT,$500 AND UNDER,APARTMENT,False,False,321.00,3.00,20.00,41.77,-87.61
7029996,13120829,06/26/2023 11:43:00 PM,THEFT,RETAIL THEFT,GAS STATION,False,False,923.00,9.00,14.00,41.79,-87.69
7029997,13120830,06/26/2023 11:46:00 PM,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,932.00,9.00,16.00,41.80,-87.68
7029998,13120820,06/26/2023 11:50:00 PM,PUBLIC PEACE VIOLATION,OTHER VIOLATION,CTA PLATFORM,False,False,123.00,1.00,34.00,41.88,-87.63
7029999,13120824,06/26/2023 11:59:00 PM,ROBBERY,ARMED - HANDGUN,RESTAURANT,False,False,"2,423.00",24.00,49.00,42.01,-87.67

# Which district has the most crimes? Which has the least?

# Are there any individual crimes that are doing the opposite (e.g decreasing when overall crime is increasing or vice-versa)?

# What months have the most crime? What months have the least?